/* MAIN */
body {
  padding-top: 150px; /* deadspace */
  padding-bottom: 100px; /* deadspace */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: monospace;
  text-align: center;
  margin: 0;
  background-color: #1a1a1a;
  color: white;
  gap: 30px;
}

/* Header1 */
h1 {
  font-size: 20px;
  font-family: monospace;
  color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header2 */
h2 {
  font-size: 30px;
  font-family: monospace;
  color: rgb(255, 255, 255);
}

/* ANIMATION */
/* Typing Animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Blink for cursor */
@keyframes blink {
  50% { opacity: 0; }
}

/* Fade in for elements */
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
/* CLASSES */
/* Heading Animation */
.typing {
  font-size: 3em;
  color: orange;
  margin: 0;
  display: inline-block;
  position: relative;
}

.typing::after {
  content: '|';
  animation: blink 1s step-start infinite;
  color: orange;
}

/* Fade in for header IMG */
.fade-in {
  width: 100%;
  display: flex;
  justify-content: center;
  animation: fade-down 1s ease-out both;
}

/* Top Photo */
.profile-img {
  width: 750px;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0px 15px rgba(255, 255, 255, 1);
}

/* Description Photo */
.desc-img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

/* Grid for Videos */
.video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  margin-top: 40px;
}

/* Videos */
.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  font-family: monospace;
}

/* Video images */
.video-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(138, 138, 138, 0.5);
  transition: transform 0.3s ease;
}

/* Videos (Hovering)*/
.video-item img:hover {
  transform: scale(0.98); /* makes smaller*/
}

/* Videos (Desc at the bottom of the img) */
.video-item p {
  margin-top: 10px;
  font-size: 16px;
}

/* Description */
.description {
  font-size: 20px;           
  font-family: monospace;
  color: #8d8d8d;           
  max-width: 1000px;     
  line-height: 1.6;
  text-align: center;
}

/* Centered Socials */
.social-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; 
}

/* Social Buttons */
.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px; 
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Make the icons inside the buttons white */
.social-button img {
  width: 30px; 
  height: 30px;
  object-fit: cover;
  transition: transform 0.3s ease;
  filter: invert(1) brightness(255%) contrast(100%); 
}

/* Socials (Hover) */
.social-button:hover {
  transform: scale(0.9);
}

/* Socials (Active) */
.social-button:active {
  transform: scale(0.85);
}

/* Everything in the top left box */
.circle-button-wrapper {
  position: fixed;
  top: 10px;
  left: 25px;
  display: flex;
  flex-direction: row;
  align-items: right;
  z-index: 1000;
}

/* Top Left Button */
.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 1);
}

/* Top Left Button Image */
.circle-button img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* to make it fit (not to big or small) */
  transition: transform 0.3s ease;
}

.circle-button:hover {
  transform: scale(0.9); /* smaller when u hover */
}

.circle-button:active {
  transform: scale(0.85); /* smaller when u click */
}

/* Text for top left button */
.circle-button-label {
  margin-top: 25px;
  color: white;
  font-size: 30px;
  font-family: monospace;
  padding: 10px 20px;
  border-radius: 4px;
  text-shadow: 0px 0px 8px white;
} 

/* Navigation Bar */
.top-nav {
  position: fixed;  
  top: 20px;
  right: 50px;
  width: 300px;
  background-color: #313131;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  z-index: 1001; /* layer above rest of elements */
  border-bottom: 1px solid #333;
  animation: fade-up 0.5s;
  border-radius: 50px;
}

/* Navigation Bar Text */
.top-nav a {
  color: orange;
  text-decoration: none;
  font-family: monospace;
  font-size: 18px;
  transition: color 0.2s;
}

/* Navigation Bar Hovering Text */
.top-nav a:hover {
  color: rgb(87, 137, 179);
  transform: scale(0.95);
}
